
#size-prym img{
	width: 40px;
	height: 40px;
	padding-left: 5px;
}

#prymituv div{
	height: 40px;
	width: 40px; 

	margin-top:7px;
	margin-left:7px;
	float-left:50px;
}

#menu {
	width: 100px; 
	height: 300px;
	padding:0;
	margin:0;
 	border: 2px solid #f6f6f6; 
 
	display: block;
	float: left;
	background-color: #6267CB;
	padding-bottom:5px;
}

#analysator {
	width: 100%;
 	display: block; 
 	margin-left: 100px;
}

#analysator img{
	width: 85%;
	height: 40px;
	margin-left: 10px; 
}

#analysator input{
	height: 35px;
	width: 35px;
	margin-left: 20px;
	
}

#value {
	align-content: center;
}